@model EShopingv1.Models.ProductDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpieryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpieryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufactureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufactureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SerialNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
